.dashboard {
    .dashboard-nav {
        display: flex;
        flex-direction: row;
        a {
            margin: 0 auto;
        }
    }

    background-color: $color4;
    
    // display: block;
    .worksheet-template {
        display: block;
        width: 75%;
        min-width: 300px;
        max-width: 700px;
        margin: 0 auto;
        padding: 10px;
        form {
            background-color: $color5;
            padding: 10px;
            display: flex;
            flex-direction: column;
            .template-row {
                margin-bottom: 10px;

                label {
                    padding-right: 5px;
                }
            }
        }
    }
}